extends part/layout
block content
      hr
        h2 Sidebar Collapsed
        br
        p
          | We have collapsed left sidebar on this page by adding 
          code sidebar-collapsed
          |  to 
          strong .page-container
          |  element.
       