extends ../part/layout

  
block content
  script.
        $(document).ready(function() {
        $.getScript('/js/datatables/datatables.min.js', function() {
        console.log('load datatables');
        var table;
        table=$('#table-3').DataTable( {
        "processing": true,
        "serverSide": true,
        "dom":' frt<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
        "columns": [
            { data: "username" },
            { data: "password" },
            { data: "aksi" }
        ],
        "ajax": {
            url: 'http://localhost/dashboard/user',
            type: 'POST',            
        }


        } );
        $('#table-3').show(true);
        });
        
     
   
            });
        

  .col-md-6.col-sm-8.col-xs-12.pull-left.clearfix(style="height:44px;margin-left:-15px;margin-top:-15px;")
             h2 Add User
  ol.breadcrumb.bc-3
            li
              a(href='index.html')
                i.entypo-home
                | Home
            li.active.
                  User
            li.active
              strong Add
  .x 
     .panel-gray.panel
      .panel-body
       .container.col-md-12
         form#add.form-horizontal
          .form-group
            label Nama
            input.form-control(type='text',name="nama")
          .form-group
            label Username
            input.form-control(type='text',name="username")
          .form-group
            label Password
            input.form-control(type='text',name="password")
          .form-group
            label Retype Password
            input.form-control(type='text',name="password")
          .form-group
            label Email
            input.form-control(type='text',name="email")
          .form-group
            label Role
            select.form-control(name="role")
              option Author
              option Admin
          .form-group
            label About
            textarea.form-control(name="about")
          .form-group
            label Picture
            input.form-control(type='file',name="pic")
          .form-group
            label Active
             input.form-control(type='checkbox',checked ,name="active")
      .panel-footer
           button.btn.btn-success(onclick="save()") save
        