extends ../part/layout

  
block content
  script.
        $(document).ready(function() {
        $.getScript('/js/datatables/datatables.min.js', function() {
        console.log('load datatables');
        var table;
        table=$('#table-3').DataTable( {
        "processing": true,
        "serverSide": true,
        "dom":' frt<"row"<"col-md-4"l><"col-md-4 text-center"i><"col-md-4"p>>',
        "columns": [
            { data: "username" },
            { data: "password" },
            { data: "aksi" }
        ],
        "ajax": {
            url: 'http://localhost/dashboard/user',
            type: 'POST',            
        }


        } );
        $('#table-3').show(true);
        });
        
     
   
            });
        

  .col-md-6.col-sm-8.col-xs-12.pull-left.clearfix(style="height:44px;margin-left:-15px;margin-top:-15px;")
             h2 User
  ol.breadcrumb.bc-3
            li
              a(href='index.html')
                i.entypo-home
                | Home
            li.active
              strong User
  .x
   .panel.panel-gray
    .panel-body
      div(style="margin-bottom:-30px")
       a.link.btn.btn-primary(href="/dashboard/user/tambah")
         i.entypo-plus
         |New User 
      table#table-3.table-striped.table.table-bordered.datatable(style='display:none')
       thead
        tr
          th Username
          th Password
          th(style="width:75px;")

